﻿body {
    font-family: Arial;
    font-size: 10pt;
    color: blue;
}

.Parent_Menu, .Parent_Menu:hover {
    width: 100px;
    background-color: #fff;
    color: #333;
    text-align: center;
    height: 30px;
    line-height: 30px;
    margin-right: 5px;
}

    .Parent_Menu:hover {
        background-color: #FF6347;
    }

.level_menu, .level_menu:hover {
    width: 110px;
    background-color: #FF6347;
    color: #333;
    text-align: center;
    height: 30px;
    line-height: 30px;
    margin-top: 5px;
}

    .level_menu:hover {
        background-color: #FF6347;
    }

.selected, .selected:hover {
    background-color: forestgreen !important;
    color: white;
}

.level2 {
    background-color: #F4A460;
}
