﻿/* DEFAULTS
----------------------------------------------------------*/

/*body   
{
    background: #b6b7bc;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
}*/

body   
{
    font-size: 1.4em;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif !important;
}

a:link, a:visited
{
    color: #FFFFFF;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    /*margin-bottom: 0px;*/
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    height: 100% !important;
    width: -webkit-fill-available;
    position: fixed;
   
    /*width: 80%;
    background-color: #fff;
    /*margin: 20px auto 0px auto;*/
    /*margin: 20px  auto auto auto;
    border: 1px solid #496077;*/
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #0075b5;
    width: 100%;
    height: auto;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    /*border: solid 1px;*/
    margin: 12px 12px 12px 12px;
    min-height: 420px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color:black;
    width:100%;
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style:none;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color:black;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: normal;
    margin-left: 15px;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: black;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: black;
    color: #cfdbe6;
    text-decoration: none;
}

.level_menu
{
    background-color:black;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: normal;
    margin: 0px;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
    text-align: left;
    text-align-last: left;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    margin-left: 10px;
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 0.75em !important;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}

.divcenter {
    text-align: center;
}


/*-------------------GRIDS---------------------*/
.myGridClass {
  width: 100%;
  /*this will be the color of the odd row*/
  background-color: #fff;
  margin: 5px 0 10px 0;
  border: solid 1px #525252;
  border-collapse:collapse;
}

/*data elements*/
.myGridClass td {
  padding: 2px;
  border: solid 1px #c1c1c1;
  color: black;
}

/*header elements*/
.myGridClass th {
  padding: 4px 2px;
  color: #fff;
  background: #424242;
  border-left: solid 1px #525252;
  font-size: 0.9em;
}

/*his will be the color of even row*/
.myGridClass .myAltRowClass { background: #fcfcfc repeat-x top; }

/*and finally, we style the pager on the bottom*/
.myGridClass .myPagerClass { background: #424242; }

.myGridClass .myPagerClass table { margin: 5px 0; }

.myGridClass .myPagerClass td {
  border-width: 0;
  padding: 0 6px;
  border-left: solid 1px #666;
  font-weight: bold;
  color: black;
  line-height: 12px;
}

.myGridClass .myPagerClass a { color: #666; text-decoration: none; }

.myGridClass .myPagerClass a:hover { color: #000; text-decoration: none; } 

/*-------------------FIN GRID---------------------*/
.Grid td {
    background-color: #428bca;
    color: black;
    font-size: 10pt;
    line-height: 200%
}

.Grid th {
    background-color: #428bca;
    color: White;
    font-size: 10pt;
    line-height: 200%
}

.ChildGrid td {
    background-color: #eee !important;
    color: black;
    font-size: 10pt;
    line-height: 200%
}

.ChildGrid th {
    background-color: #6C6C6C !important;
    color: White;
    font-size: 10pt;
    line-height: 200%
}

.hiddencol {
    display: none;
}

/***************Checkbox Personalizados*******************/

.class_checkbox {
    width: 20px;  
    height: 20px;
    background-color: red;
}
.class_checkbox.checked {
    background-color: green;
}

.uppercase
{
    text-transform: uppercase;
}

/*********************Botones Flotantes*********************/
.btn-group-sm .btn-fab{
  position: fixed !important;
  right: 62px;
  margin-top: 120px;
}
.btn-group .btn-fab{
  position: fixed !important;
  right: 60px;
  margin-top: 60px;
}
#main{
  top: 10px;
}
#mail{
  top: 0px
}
#sms{
  top: 50px
}
#autre{
  top: 100px
}

/*******************Gif Loadin***********************/
.modalBackground
{
background-color: Black;
filter: alpha(opacity=90);
opacity: 0.8;
}
.modalPopup
{
background-color: #fff;
border: 3px solid #ccc;
padding: 10px;
width: 300px;
}

.button {
    background-color: transparent;
    color: black;
    /*border: 2px solid #4CAF50;*/
    /*padding: 10px 10px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /*font-size: 16px;*/
    /*margin-left: 10px;*/
}


.cuadradoDiv:hover {
    background-color: #f2c811;
    border: 3px solid #f2c811;
    color: black;
}

#trigger:hover {
    color: black;
}
.cuadradoDiv a:hover {
     color: black
}

.button a:hover {
    color: #000000;
}
/*-------Botton inicio ---*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #555;
  color: #FFF;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

#myBtn:hover {
  background-color: #f2c811;
  color: #000;
}

.UrlActual {
    border-bottom: 1px solid #f2c811;
}

.codrops-top h2 {
    font-size:1.0em !important;
}


.hr-warning {
    background-image: -webkit-linear-gradient(left, rgba(210,105,30,.8), rgba(210,105,30,.6), rgba(0,0,0,0)) !important;
    height: 4px !important;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.hr-success {
    background-image: -webkit-linear-gradient(left, rgba(15,157,88,.8), rgba(15, 157, 88,.6), rgba(0,0,0,0)) !important;
    height: 4px !important;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.hr-primary {
    background-image: -webkit-linear-gradient(left, rgba(66,133,244,.8), rgba(66, 133, 244,.6), rgba(0,0,0,0)) !important;
    height: 4px !important;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.hr-danger {
    background-image: -webkit-linear-gradient(left, rgba(244,67,54,.8), rgba(244,67,54,.6), rgba(0,0,0,0)) !important;
    height: 4px !important;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}